run = "bun run dev"
entrypoint = "./.gyoza/bin/gyoza.ts"
modules = ["typescript-language-server", "web", "nix"]
compile = ["bun", "run", "./.gyoza/scripts/build.ts"]

[nix]
channel = "stable-23_11"

[env]
PATH = "/home/runner/$REPL_SLUG/.config/.bun/bin:/home/runner/$REPL_SLUG/.config/.proto/bin:/home/runner/$REPL_SLUG/.config/.proto/.bun/bin:/home/runner/$REPL_SLUG/node_modules/.bin"
PROTO_HOME = "/home/runner/$REPL_SLUG/.config/.proto"
BUN_INSTALL = "/home/runner/$REPL_SLUG/.config/.bun"
XDG_CONFIG_HOME = "/home/runner/$REPL_SLUG/.config"
XDG_CACHE_HOME = "/home/runner/$REPL_SLUG/.cache"

[packager]
language = "bun"
[packager.features]
enabledForHosting = false
guessImports = true
packageSearch = true

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 5173
exposeLocalhost = true

[auth]
pageEnabled = true
buttonEnabled = false
